CI_ENVIRONMENT = development

app.baseURL=''

database.default.hostname=localhost
database.default.database=database_name
database.default.username=username
database.default.password=password
database.default.DBDriver=MySQLi